@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model StudentsViewModel
@{
    ViewData["Title"] = "Add a Student";
}
<h2>Add a Student</h2>
<hr />
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h5>Add a Student</h5>
            </div>
            <div class="card-body">
                <form asp-controller="students" asp-action="AddStudent" method="post">
                    <div class="mb-3">
                        <label class="form-label">Student ID</label>
                        <input asp-for=StudentId type="number" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Student firstname</label>
                        <input asp-for=FirstName type="text" class="form-control"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Student surname</label>
                        <input asp-for=Surname type="text" class="form-control"/>
                    </div>
                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
            <div class="card-footer">
            </div>
        </div>


    </div>
</div>
