@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="main-text">
        <h1 class="display-4 text-black">Welcome to Razor Sharp Pizzas</h1>
        <h2 class="main-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h2>
    </div>
    <img class="main-image" src="~/images/Pizzas/Create.png" />
    <br />
    <a class="btn btn-danger mt-1" asp-area="" asp-controller="Pizza" asp-action="Index">Order</a>
</div>
